<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text = "'Welcome to TWAirline!!!'"/>

</body>
<form method="post" th:action ="@{/searchFlights}" th:object="${searchCriteria}">
    <table>
        <tr>
            <td>
                <label>Source</label>
                <select th:title="Source" id="source" class="form-control" th:field="*{source}">
                    <option th:each="city : ${citiesList}"
                            th:value="${city}"
                            th:text="${city}">
                    </option>
                </select>
            </td>
            <td width="20px"></td>
            <td>
                <label>Destination</label>
                <select th:title="Destination" id="destination" class="form-control" th:field="*{destination}">
                    <option th:each="city :${citiesList}"
                            th:value="${city}"
                            th:text="${city}">
                    </option>
                </select>
            </td>
            <td width="20px"></td>
            <td>
                <label>Date</label>
                <input type="date" th:field="*{travelDateStr}"/>
            </td>
            <td>
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
    <table border="1">
        <tr>
            <th th:text="Flight_Number"></th>
            <th th:text="Source"></th>
            <th th:text="Destination"></th>
            <th th:text="Travel_Date"></th>

        </tr>
        <tr th:each ="flightUI:${flightSearchResultList}">
            <td th:text="${flightUI.flight.flightNo}"/>
            <td th:text="${flightUI.flight.source}"/>
            <td th:text="${flightUI.flight.destination}"/>
            <td th:text="${flightUI.travelDate}"/>

        </tr>
    </table>
</form>
</html>